.text-center {
  text-align: center;
}

.align-center {
  right: auto;
  left: auto;
}

.width-fourth-center {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.ShoppingCart-normal-item{
  margin-top: 1rem;
}

.margin-top-1rem { 
  margin-top: 1rem;
}

.margin-top-0-5rem { 
  margin-top: 0.5rem;
}

.ShoppingCart-normal-item + .ShoppingCart-normal-item{
  margin-left: 1rem;
}

.align-left {
  text-align: left;
}

.float-right {
  float: right;
}

